<footer class="footer">
  <div class="footer__botton">
  <a href="#arriba">
    <div class="arrowup-button">
      <img class="arrowup" src="./assets/images/ico-arrow.svg" />
    </div>
  </a>
  </div>
  <nav class="footer-uls">
  <ul class="footer-uls__list list1">
    <li>Articles</li>
    <li>Books</li>
    <li>Events</li>
    <li>Reasons</li>
    <li>Tips</li>
  </ul>

  <ul class="footer-uls__list list2">
    <li>Twitter</a></li>
    <li>Instagram</a></li>
    <li>Mastodon.social</li>
  </ul>
  <div class="copy">&copy; 2019</span><br>
  <span class="love">we <span class="heart">&#10084;</span> components</div>
  </nav>
</footer>
