<main class="reasons">
    <a id="abajo"></a>
  <h1 class="reasons__title">3 Reasons to purchase</h2>
  <div class="reasons__grid">
    <div class="item item1"><strong>Ut sed metus.</strong> <p>Lorem ipsum dolor sit amet, consecteur.</p></div>
    <div class="item item2"><strong>Curabitur ac erat.</strong> <p>Mauris mattis urna quis lorem molestie.</p></div>
    <div class="item item3"><strong>Morbi dictum.</strong> <p>Aliquam in dolor et dolor tincidunt.</p></div>
    <div class="more-botton">More reasons</div>  
  </div>
    </div>
</main>
