<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_newsection.html" label="NewSection"></partial>
      <partial src="_tips.html" label="Main"></partial>
      <partial src="_reasons.html" aClass="link__adalab" text="Adalab"></partial>
    </div>
    <partial src="_footer.html" aClass="link__github" text="GitHub"> </partial>
  </body>
</html>
