.footer {
  background-color: $darkestColor;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $whiteColor;

  &__list {
    text-transform: uppercase;
    font-family: $contentFont;
    margin-top: 30px;
    list-style: none;
    text-align: center;
    font-size: 16px;
    line-height: 1.88;
  }
}

.copy {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: $contentFont;
}

.love {
  font-family: $contentFont;
  margin-bottom: 45px;
}

.heart {
  color: $orangeColor;
  color: #f26125;
}

.arrowup-button {
  width: 45px;
  height: 45px;
  background: $whiteColor;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 24px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
