.reasons {
  background: #eff9ff;
  border: #eff9ff 1px solid;
  padding: 0 45px 0 45px;

  &__title {
    text-align: center;
    text-transform: capitalize;
    font-family: $titleFont;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 180px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;

    justify-content: center;

    @media all and (min-width: 768px) and (max-width: 1200px) {
      justify-items: center;
      grid-gap: 3px;
      grid-template-rows: 80px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media all and (min-width: 1200px) {
      justify-items: center;
      padding: 0 81px 0 81px;
      grid-template-rows: 80px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.item {
  font-family: $contentFont;
  text-align: center;
  line-height: 1.4;
  font-size: 18px;

  width: 180px;
}

.more-botton {
  border-radius: 22.5px;
  background: $orangeColor;

  color: $whiteColor;
  font-family: $contentFont;
  font-size: 20px;

  width: 184px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 45px;
  margin-bottom: 60px;

  transition: ease 1s;

  &:hover {
    font-size: 22.5px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .item1 {
    grid-column: 1/4;
  }
}

@media all and (min-width: 1200px) {
  .item1 {
    grid-column: 1/4;
  }
}
