.reasons {
  border: gold solid 2px;

  &__grid {
    display: grid;
    grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    border: gray 2px solid;

    &__item {
      background-color: hotpink;
    }
  }
}
