.tips {
  padding: 15px;
  background: $whiteColor;

  &__minititle {
    margin-top: 30px;
    color: $blueColor;
    font-size: 14px;
  }

  &__title {
    text-transform: capitalize;
    font-size: 30px;
    font-family: $titleFont;
  }

  &__content {
    margin-top: 15px;
    color: #4a4a4a;
    font-family: $contentFont;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.67;
  }
}

.go-botton {
  width: 76px;
  height: 45px;
  border: $orangeColor solid 2px;
  border-radius: 22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: $contentFont;
  color: $orangeColor;
  margin-bottom: 45px;
  transition: color ease 1s;

  &:hover {
    background: $orangeColor;
    color: $whiteColor;
  }
}
