// COLOR PALETTE

$orangeColor: #f26125;
$darkblueColor: #0371bc;
$blueColor: #8ccbea;
$whiteColor: #ffffff;
$darkestColor: #304268;

// FONTS

$titleFont: "Roboto Slab", serif;
$contentFont: "Roboto", sans-serif;
